# 依存関係
/node_modules
/.pnp
.pnp.js

# テスト
/coverage
.nyc_output

# Next.js
/.next/
/out/

# ビルド出力
/build
/dist

# 環境変数
.env
.env*.local

# デバッグ
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ローカルファイル
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Prisma
prisma/migrations/*
!prisma/migrations/.gitkeep
